
nav {
	min-height: 120px;
	background-color: #eeeeee;
	position:fixed;
}

form{
	padding: 6px;
	border-radius: 33px;
}

a:hover{

}

ul, li{
	list-style: none;
}

body{
	overflow: hidden;
}

.scrollable-panel{
      min-height:300px;
      height: 90vw;
      max-height: 600px;
      overflow-y: scroll;
      width:100%;
      }

.card{
	max-width: 230px;
	min-width: 80px;
	margin-top: 3px;
	margin-bottom: 3px;
}

.card-body{
	max-width: 230px;
}

.card-img-top{
	max-width: 100%;
	margin: auto;
}


.nav-item{
	text-decoration: none;
	text-align: left;
	margin-right: 10vw;
	margin-top: 6vw;
}

.navbar-brand img{
	width: 4vw;
}

.navbar-brand h2{
	font-size: 18px;
}

#navsearch{
	margin-right: 0px;
	margin-top: 3vw;
}


#content-window{
	margin-left: 30vw;
	transition: margin-left .5s; /* If you want a transition effect */
  	padding: 20px;
}

.form-control{
	padding: 16px;
	border-radius: 33px;
}

.input-group-text{
	border-radius: 33px;
}

 /* The sidebar menu */
.sidenav {
  display: block;
  height: 100%;
  width: 250px;
  position: fixed;
  z-index: 1;
  left: 0;
  background-color: #eeeeee;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

/* The navigation menu links */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 18px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav p {
  font-size: 18px;
  color: black;
  padding: 3px;
  margin-bottom: 0px;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #1a7dff;
}

.sidenav .closebtn {
 
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.openbtn {
  font-size: 12px;
  cursor: pointer;
  background-color: #111;
  color: white;
  padding: 10px 15px;
  border: none;
}

.openbtn:hover {
  background-color: #444;
}

/* Style page content */
.container .row {
  margin-left: 160px; /* Same as the width of the sidebar */
  padding: 0px 10px;
}

.input-group > .typeahead {
	flex: 1 1 auto;
	width: auto;
 }

.typeahead, .tt-query, .tt-hint {
	border: 2px solid #CCCCCC;
	border-radius: 8px;
	font-size: 22px; /* Set input font size */
	height: 30px;
	line-height: 30px;
	outline: medium none;
	padding: 8px 12px;
	width: 396px;
  }
  .typeahead {
	background-color: #FFFFFF;
  }
  .typeahead:focus {
	border: 2px solid #0097CF;
  }
  .tt-query {
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
  }
  .tt-hint {
	color: #999999;
  }
  .tt-menu {
	background-color: #FFFFFF;
	border: 1px solid rgba(0, 0, 0, 0.2);
	border-radius: 8px;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	margin-top: 12px;
	padding: 8px 0;
	width: 422px;
  }
  .tt-suggestion {
	font-size: 22px;  /* Set suggestion dropdown font size */
	padding: 3px 20px;
  }
  .tt-suggestion:hover {
	cursor: pointer;
	background-color: #0097CF;
	color: #FFFFFF;
  }
  .tt-suggestion p {
	margin: 0;
  }

  #sidebar-search{
  	max-width: 270px;
  }

@media screen and (min-width: 1200px) {
	 .nav-item{
		margin-right: 150px;
	}
	 #content-window{
		margin-left: 220px;
	}
} 

@media screen and (max-width: 768px) {
	#content-window{
		margin-left: 180px;
	}
	#content-window h1{
		font-size: 20px;
	}
	.sidenav {
  		width: 185px;
	}
	#sidebar-search{
  		max-width: 185px;
  	}

} 

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
} 
