<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="shortcut icon" href="style/favicon.ico"/>

  <title>Witches Brew</title>


  <!-- Bootstrap core CSS -->
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
  <link href="style/custom.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="dark-mode/dark-mode.css">

</head>

<body ng-app="mainModule">

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-light navbar-fixed-top border border-top-0 border border-right-0 border border-left-0 border-secondary">
    <!-- Dark Mode -->
    <div  class="dark-switch custom-control custom-switch" >
      <input type="checkbox" class="custom-control-input" id="darkSwitch">
      <label class="custom-control-label" for="darkSwitch">&#127763</label>
    </div>
    <div class="container">
      <a class="navbar-brand" href="#">
        <img src="style/cocktail.png" width="60" height="100" class="d-inline-block align-bottom" alt="">
        Witches' Brew
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <!-- will remove function calls and add event listeners to external .js later -->
            <a class="nav-link" id="homelink" href=" # ">Home
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              More
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" id="aboutlink" href=" # ">About</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" id="serviceslink" href=" # ">Services</a>
              <div class="dropdown-divider"></div>
            </div>
          </li>
          <li class="nav-item" id="navsearch">
            <!-- Search form -->
           <div class="input-group" id="navbar-search">
                <input class="form-control py-2 border-right-0 border typeahead" id="nav-search" style="width: 300px; position: absolute;" type="text" spellcheck="false" placeholder="Find a Cocktail" autocomplete="off">
                <span class="input-group-append" style="right: 20%;">
                   <div class="input-group-text bg-transparent" id="search-cocktail-button" style="border: none; top: 4px; right:-2px; position: absolute;"><i class="fa fa-search"></i></div>
                 </span>
            </div>
          </li>
          <li>
            <!-- Button to open the modal login form -->
          <button id="login" class="btn btn-primary" >Login</button>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Side navigation -->
<div id="side-navigation" class="container-md sidenav border">

  <a href="javascript:void(0)" class="closebtn" id="sideexit" >&times;</a>

  <div ng-controller="mainController as ctrl">
    <div class="row pad">
      <form class="form-inline">
          <input type="text"
                 class="form-control py-2 border-right-0 border typeahead"
                 autocomplete="off"
                 placeholder="Add/Remove Ingredient"
                 ng-model="ctrl.insert">
        <button type="submit" class="btn btn-default addchip" ng-click="ctrl.add(ctrl.insert)">
              +
            </button>
            <button type="submit" class="btn btn-default addchip" ng-click="ctrl.negate(ctrl.insert)">
              -
            </button>
      </form>
    </div>
    <ul class="list-inline" >
        <li class="listItem" ng-repeat="elem in ctrl.positiveItems">
          <bl-chips text="{{elem}}" close="ctrl.closePos(text)"></bl-chips>
        </li>
      </ul>
      <ul class="list-inline neg" >
        <li class="listItem negative" ng-repeat="elem in ctrl.negativeItems">
          <bl-chips text="{{elem}}" close="ctrl.closeNeg(text)"></bl-chips>
        </li>
      </ul>

  <button class="dropdown-btn border border-bottom-0 border-right-0 border border-left-0 border-secondary">Browse Ingredients
    <i class="fa fa-caret-down"></i>
  </button>
  <div class="dropdown-container">

      <form class="form-inline">
        <select id="spirits" class="custom-select browse-selection" ng-model="ctrl.insert" >
          <option value="" selected disabled>Spirits</option>
          <option value="bourbon">bourbon</option>
          <option value="vodka">vodka</option>
          <option value="gin">gin</option>
          <option value="rum">rum</option>
          </select>
        <button type="submit" class="btn btn-default addchip" ng-click="ctrl.add(ctrl.insert)">
          +
        </button>

      <select id="juice" class="custom-select browse-selection" ng-model="ctrl.insert" >
        <option value="" selected disabled>Juices</option>
        <option value="lime juice">lime juice</option>
        <option value="orange juice">orange juice</option>
        <option value="pineapple juice">pineapple juice</option>
        <option value="lemon juice">lemon juice</option>
      </select>
      <button type="submit" class="btn btn-default addchip" ng-click="ctrl.add(ctrl.insert)">
        +
      </button>

      <select id="others" class="custom-select browse-selection" ng-model="ctrl.insert" >
        <option value="" selected disabled>Other</option>
        <option value="bitters">bitters</option>
        <option value="sweet vermouth">sweet vermouth</option>
        <option value="simple syrup">simple syrup</option>
        <option value="club soda">club soda</option>
      </select>
      <button type="submit" class="btn btn-default addchip" ng-click="ctrl.add(ctrl.insert)">
        +
      </button>

    </form>
  </div>
  </div>

  <div class="text-center">
    <br>
  <button id="multi-search" type="submit" class="btn btn-primary submit-button">Search</button>
</div>


</div>




	<button class="openbtn" id="sideopen">&#9776; Open Sidebar</button>
		<div class="container namesearch-container" id="namesearchcont">
			<div class="input-group name-search-bar" id="body-search">
		                <input class="form-control py-2 border-right-0 border typeahead body-search" id="nav-search2" style="width: 300px;" type="text" spellcheck="false" placeholder="Find a Cocktail" autocomplete="off">
		                <span class="input-group-append">
		                   <div class="input-group-text bg-transparent" id="search-cocktail-button-body"><i class="fa fa-search"></i></div>
		                </span>
		            </div>

		</div>
		



			



  <!-- Page Content -->
  <div class="container" id="content-wrapper">
    <div class="row" id="content-window">
      <div class="col-lg-12 text-left">

            <div id="main-panel" class="panel panel-primary scrollable-panel container">

              <!-- The cards appear here --> 

            </div>

           
             </div>
           </div>
        </div>

  <!-- Bootstrap core JavaScript -->
  
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="js/typeahead.bundle.js"></script>

  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js" integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4" crossorigin="anonymous"></script>

  <!-- The core Firebase JS SDK -->
  <script src="https://www.gstatic.com/firebasejs/7.9.1/firebase-app.js"></script>

  <!-- Firebase SDK's -->
  <script src="https://www.gstatic.com/firebasejs/7.9.1/firebase-analytics.js"></script>
  <script src="https://www.gstatic.com/firebasejs/7.9.1/firebase-database.js"></script>
  <script defer src="https://www.gstatic.com/firebasejs/7.10.0/firebase-auth.js"></script>


    <!-- Angular Tags-->
  <script data-require="angular.js@1.5.3" data-semver="1.5.3" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.min.js"></script>
  <script src="js/main.module.js"></script>
  <script src="js/chips.module.js"></script>
  <script data-require="ui-bootstrap@*" data-semver="1.3.2" src="https://cdn.rawgit.com/angular-ui/bootstrap/gh-pages/ui-bootstrap-tpls-1.3.2.js"></script>
  <script src="js/typesuggest.js"></script>
  <script src="js/utility.js"></script>

  <!-- Other scripts -->
  <script src="js/search.js"></script>
  <script src="js/home.js"></script>
  <script src="js/scripts.js"></script>
  <script src="js/nameSearch.js"></script>
  <script src="js/signin.js"></script>
  <script src="dark-mode/dark-mode-switch.min.js"></script>

  <!-- Sidebar Dropdown -->
  <script>
    /* Loop through all dropdown buttons to toggle between hiding and showing its dropdown content - This allows the user to have multiple dropdowns without any conflict */
    var dropdown = document.getElementsByClassName("dropdown-btn");
    var i;

    for (i = 0; i < dropdown.length; i++) {
      dropdown[i].addEventListener("click", function() {
        this.classList.toggle("active");
        var dropdownContent = this.nextElementSibling;
        if (dropdownContent.style.display === "block") {
          dropdownContent.style.display = "none";
        } else {
          dropdownContent.style.display = "block";
        }
      });
    }
  </script>



  </div>

</body>

</html>
